@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #060606;
  text-decoration: none;
}

button {
  background-color: rgb(46, 58, 224);
  color: white;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(35, 47, 180);
}